<odoo>

    <menuitem
        id="menu_meeting_root"
        name="Meeting"
        sequence="0" />

    <menuitem
        id="menu_appointment_master"
        name="Room"
        action="meeting_room.action_meeting_room"
        parent="menu_meeting_root"
        sequence="2"
        groups="meeting_room.group_meeting_room_hr"
    />

    <menuitem
        id="menu_schedule_master"
        name="Schedule"
        action="meeting_room.action_meeting_schedule"
        parent="menu_meeting_root"
        sequence="1" />

</odoo>