<odoo>

    <menuitem
        id="menu_hospital_root"
        name="Hospital"
        sequence="0" />

    <menuitem
        id="menu_patient_master"
        name="Patients Details"
        parent="menu_hospital_root"
        sequence="1" />

    <menuitem
        id="menu_appointment_master"
        name="Appointment"
        action="om_hospital.action_hospital_appointment"
        parent="menu_hospital_root"
        sequence="2" />

    <menuitem
        id="menu_patient"
        name="Patients"
        action="om_hospital.action_hospital_patient"
        parent="menu_patient_master"
        sequence="0" />

    <menuitem
        id="menu_female_patient"
        name="Female Patients"
        action="om_hospital.action_hospital_female_patient"
        parent="menu_patient_master"
        sequence="1" />

</odoo>
