<odoo>

    <menuitem
        id="menu_meeting_root"
        name="Booking Room"
        sequence="0" />

    <menuitem
        id="menu_appointment_master"
        name="Room"
        action="booking_room.action_booking_room"
        parent="menu_meeting_root"
        sequence="2"
        groups="booking_room.group_booking_room_hr"
    />

    <menuitem
        id="menu_schedule_master"
        name="Booking"
        action="booking_room.action_meeting_schedule"
        parent="menu_meeting_root"
        sequence="1" />

</odoo>